<div class='playing-card {{@suit}}' ...attributes>
  <PlayingCard::Value @suit={{@suit}} @value={{@value}} class='top-left' />
  {{!-- how to do graphics? --}}
  <PlayingCard::Value @suit={{@suit}} @value={{@value}} class='bottom-right' />
</div>