<li class='playing-card {{@suit}}' ...attributes>
  <span class='sr-only'>{{@value}} of {{@suit}}</span>

  <PlayingCard::CornerValue @suit={{@suit}} @value={{@value}} class='top-left' />
  <PlayingCard::FaceValue @suit={{@suit}} @value={{@value}} />
  <PlayingCard::CornerValue @suit={{@suit}} @value={{@value}} class='bottom-right' />
</li>