<div class='share-url grid gap-2' ...attributes>
  <div class='input-box grid:cols gap-2 left-column'>
    <input id='url' value={{@url}} readonly {{on 'click' this.highlight}}>
    <button type='button' {{on 'click' this.copy}}>
      Copy
    </button>
  </div>
  <label for='url' class={{if @hideLabel 'sr-only'}}>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      Share this link with people to join your game
    {{/if}}
  </label>
</div>