<MediaInfoCard>

  <:header>
    {{#if (is-present @meta.siteName)}}
      <p class='card-header-title'>
        {{@meta.siteName}}
      </p>
    {{/if}}
  </:header>

  <:content>
    {{#if @meta.hasExtension}}
      <EmbeddedMedia @url={{@url}} @meta={{@meta}} />
    {{else}}

      <Pod::Chat::ChatHistory::Message::EmbeddedResource::MetadataPreview
        @url={{@url}}
        @ogData={{@meta.openGraph}}
      />

    {{/if}}
  </:content>


</MediaInfoCard>
