<div data-test-top-nav class='top-nav {{if this.isInverted 'inverted'}}'>

  <div class='left-nav'>
    {{#if this.currentUser.isLoggedIn}}
      <div {{update-document-title this.unreadMessageText}}>
        <HamburgerButton
          @onClick={{this.sidebar.toggle}}
          @isActive={{this.sidebar.isShown}}
        />

        {{#if this.hasUnread}}
          {{!-- template-lint-disable no-inline-styles --}}
          <span
            data-test-unread-count
            class='badge badge-warning'
            style='left: 2rem; bottom: 0.5rem;'
          >
            {{this.unreadMessageCount}}
          </span>
        {{/if}}
      </div>

      <LinkTo @route='application' class='left hide-sm-down'>
        {{t 'appname'}}
      </LinkTo>

      <App::TopNav::CurrentChatName />
      <App::TopNav::ConnectionStatus />

    {{else}}

      <LinkTo @route='application' class='left {{if this.isChat this.textColor}}'>
        {{t 'appname'}}
      </LinkTo>

    {{/if}}

  </div>


  <div class='right-nav'>
    {{#unless this.currentUser.isLoggedIn}}
      <LinkTo @route='login' class='hide-md-up'>
        {{t 'routes.login'}}
      </LinkTo>
    {{/unless}}

    <App::TopNav::Install />

    <LinkTo @route='qr'>
      <FaIcon @icon='qrcode' />
    </LinkTo>

    <App::TopNav::LocaleSelect />

    {{#if this.currentUser.isLoggedIn}}
      <LinkTo @route='chat' class='hide-sm-down'>
        {{t 'routes.chat'}}
      </LinkTo>

      <App::TopNav::UserDropMenu class='hide-xs-down' />
    {{else}}
      <LinkTo @route='login' class='hide-sm-down'>
        {{t 'routes.login'}}
      </LinkTo>

      <LinkTo @route='setup' class='hide-sm-down'>
        {{t 'routes.createNewUser'}}
      </LinkTo>
    {{/if}}
  </div>
</div>
