<aside ...attributes>
  {{#if (has-feature-flag 'democracy-ui')}}
    <nav class='sidebar-nav'>
      {{#if this.isTabContacts}}
        <button
          id='contacts-tab'
          type='button'
          class='sidebar-tab sidebar-tab-selected'
          data-test-tab-contacts
        >
          {{t 'ui.sidebar.contacts.title'}}
        </button>
      {{else}}
        <button
          id='contacts-tab'
          type='button'
          class='sidebar-tab'
          data-test-tab-contacts
          {{on 'click' (fn this.switchToTab this.Tab.Contacts)}}
        >
          {{t 'ui.sidebar.contacts.title'}}
        </button>
      {{/if}}

      {{#if this.isTabChannels}}
        <button 
          id='channels-tab'
          type='button'
          class='sidebar-tab sidebar-tab-selected'
          data-test-tab-channels
        >
          {{t 'ui.sidebar.channels.title'}}
        </button>
      {{else}}
        <button 
          id='channels-tab'
          type='button'
          class='sidebar-tab'
          data-test-tab-channels
          {{on 'click' (fn this.switchToTab this.Tab.Channels)}}
        >
          {{t 'ui.sidebar.channels.title'}}
        </button>
      {{/if}}

      {{#if this.isTabActions}}
        <button 
          id='actions-tab'
          type='button'
          class='sidebar-tab sidebar-tab-selected'
          data-test-tab-actions
        >
          {{t 'ui.sidebar.actions.title'}}
        </button>
      {{else}}
        <button
          id='actions-tab'
          type='button'
          class='sidebar-tab'
          data-test-tab-actions
          {{on 'click' (fn this.switchToTab this.Tab.Actions)}}
        >
          {{t 'ui.sidebar.actions.title'}}
        </button>
      {{/if}}

    </nav>
  {{/if}}

  <div>
    {{#if (has-feature-flag 'democracy-ui')}}
      {{#if this.isTabContacts}}
        {{#if this.hasUnreadAbove}}
          <App::Sidebar::UnreadIndicator
            @onClick={{this.scrollUpToNearestUnread}}
            @direction='up'
          />
        {{/if}}

        <App::Sidebar::Chats @type='chats'/>

        {{#if this.hasUnreadBelow}}
          <App::Sidebar::UnreadIndicator
            @onClick={{this.scrollDownToNearestUnread}}
            @direction='down'
          />
        {{/if}}
      {{else if this.isTabChannels}}
        {{#if this.hasUnreadAbove}}
          <App::Sidebar::UnreadIndicator
            @onClick={{this.scrollUpToNearestUnread}}
            @direction='up'
          />
        {{/if}}

        <App::Sidebar::Chats @type='channels'/>

        {{#if this.hasUnreadBelow}}
          <App::Sidebar::UnreadIndicator
            @onClick={{this.scrollDownToNearestUnread}}
            @direction='down'
          />
        {{/if}}
      {{else}}
        <App::Sidebar::Actions />
      {{/if}}
    {{else}}
      {{#if this.hasUnreadAbove}}
        <App::Sidebar::UnreadIndicator
          @onClick={{this.scrollUpToNearestUnread}}
          @direction='up'
        />
      {{/if}}

      <App::Sidebar::Chats @type='all'/>
      
      {{!-- <SlideTransition @isVisible={{this.hasUnreadBelow}}> --}}
      {{#if this.hasUnreadBelow}}
        <App::Sidebar::UnreadIndicator
          @onClick={{this.scrollDownToNearestUnread}}
          @direction='down'
        />
      {{/if}}
    {{/if}}

  </div>

  {{#if this.isLoggedIn}}
    <App::Sidebar::Footer />
  {{/if}}
</aside>
