<aside ...attributes>
  <div>
    {{did-insert switchToContacts}}
    {{#if (has-feature-flag 'democracy-ui')}}
      <nav class='sidebar-nav'>
        {{#if this.contactsSelected}}
          <a
            id='contacts-tab'
            class='sidebar-tab sidebar-tab-selected'
          >
              Contacts
          </a>
        {{else}}
          <a
            id='contacts-tab'
            class='sidebar-tab'
            onclick={{action 'switchToContacts'}}
          >
              Contacts
          </a>
        {{/if}}

        {{#if this.channelsSelected}}
          <a 
            id='channels-tab'
            class='sidebar-tab sidebar-tab-selected'
          >
              Channels
          </a>
        {{else}}
          <a id='channels-tab' class='sidebar-tab'
            onclick={{action 'switchToChannels'}}
          >
              Channels
          </a>
        {{/if}}

        {{#if this.actionsSelected}}
          <a id='actions-tab' class='sidebar-tab sidebar-tab-selected'
          >
              Actions
          </a>
        {{else}}
          <a id='actions-tab' class='sidebar-tab'
            onclick={{action 'switchToActions'}}
          >
              Actions
          </a>
        {{/if}}

      </nav>
    {{/if}}

    {{#if this.hasUnreadAbove}}
      <App::Sidebar::UnreadIndicator
        @onClick={{this.scrollUpToNearestUnread}}
        @direction='up'
      />
    {{/if}}

    {{#if (has-feature-flag 'democracy-ui')}}
      {{#if this.contactsSelected}}
        <App::Sidebar::Chats />
      {{else if this.channelsSelected}}
        {{!-- TODO --}}
      {{else}}
        <App::Sidebar::Actions />
      {{/if}}
    {{else}}
        <App::Sidebar::Chats />
    {{/if}}

    {{!-- <SlideTransition @isVisible={{this.hasUnreadBelow}}> --}}
    {{#if this.hasUnreadBelow}}
      <App::Sidebar::UnreadIndicator
        @onClick={{this.scrollDownToNearestUnread}}
        @direction='down'
      />
    {{/if}}

  </div>



  {{#if this.isLoggedIn}}
    <App::Sidebar::Footer />
  {{/if}}
</aside>
