{{#if this.isNotCompatible}}
  <ModalStatic @initiallyActive={{true}} @name='compatibility' as |isActive actions|>
    <button type='button' {{on 'click' actions.open}}>
      <FaIcon @icon='exclamation-circle' />
      {{this.successCount}} / {{this.totalCount}}
      {{t 'compatibility.compatibility'}}
    </button>

    <DismissableModal
      data-test-compatibility-modal
      @isActive={{isActive}}
      @close={{actions.close}}
      @boxClasses='has-background-none'
    >
      <div class='
        has-text-white
        p-md
        '
      >
        <h2 class='is-size-3'>
          <FaIcon @icon='exclamation-circle' />
          {{t 'compatibility.title'}}
        </h2>
        <p>
          {{t 'compatibility.description'}}
        </p>

        <div class='flex-row justify-content-space-between align-items-end'>
          <div class='flex-column align-items-start'>
            <table>
              <tbody>
                <Pod::Index::Compatibility::Feature @value={{this.hasCamera}} @label={{t 'compatibility.camera'}} />
                <Pod::Index::Compatibility::Feature @value={{this.hasNotifications}} @label={{t 'compatibility.notifications'}} />
                <Pod::Index::Compatibility::Feature @required={{true}} @value={{this.hasIndexedDb}} @label={{t 'compatibility.indexeddb'}} />
                {{!-- <Pod::Index::Compatibility::Feature @value={{this.hasWASM}} @label={{t 'compatibility.wasm'}} /> --}}
                <Pod::Index::Compatibility::Feature @value={{this.hasServiceWorker}} @label={{t 'compatibility.serviceWorker'}} />
                <Pod::Index::Compatibility::Feature @value={{this.hasWebWorker}} @label={{t 'compatibility.webWorker'}} />


              </tbody>
            </table>

            <h3 class='is-size-4'>
              {{t 'compatibility.score'}}: {{this.successCount}} / {{this.totalCount}}
            </h3>
            <h4>
              {{t 'compatibility.required'}}: {{this.requiredSuccessCount}} / {{this.totalRequiredCount}}
            </h4>

          </div>

          <button
            type='button'
            class='button'
            {{on 'click' actions.close}}
          >
            {{t 'buttons.close'}}
          </button>
        </div>
      </div>
    </DismissableModal>
  </ModalStatic>
{{/if}}
