<form data-test-channel-form {{on 'submit' (prevent-default this.onFormSubmit)}}>
  {{!-- template-lint-disable require-input-label --}}
  <input
    class='input'
    type='text'
    placeholder={{t 'ui.sidebar.channels.placeholder'}}
    value={{this.newChannelName}}
    {{on 'input' this.onInput}}
    {{on 'keypress' this.onKeyPress}}
  >
</form>
