<div class="card-content">
  <div class="content">
    <label>{{t 'ui.setup.nameLabel'}}</label>
    {{input
      class='input is-large'
      type='text'
      value=name}}

      {{!-- {{inputs/text-input
        required=true
        onChange=(action (mut name))}} --}}
  </div>
</div>

<footer class="card-footer">
  <div class='card-footer-item'>
    <button
      class='button'
      disabled={{nameIsBlank}}
      {{action createIdentity}}>
      {{t 'buttons.next'}}
    </button>
  </div>
</footer>
