<div>
  <form {{on 'submit' this.save}}>

    <Field @label='Name' as |id|>
      <Input
        data-test-name-field
        id={{id}}
        @value={{this.currentUser.record.name}}
      />

    </Field>

    <div class='cta'>
      {{!-- template-lint-disable require-input-label --}}
      <input
        data-test-save
        class='button'
        type='submit'
        value={{t 'buttons.save' }}
      >
    </div>

  </form>

  <hr>

  <button type='button' {{on 'click' this.downloadSettings}} class='button'>
    {{t 'ui.settings.download' }}
  </button>

  <button
    disabled
    type='button'
    class='button'
  >
    {{t 'ui.settings.copyProfileToDevice'}}
  </button>
</div>
