<div class='perspective'>
  <ul
    class='player-hand {{if this.isActive 'spread'}}'
    {{!-- template-lint-disable no-invalid-interactive --}}
    {{stack this.toggle}}
    {{resize this.adjust}}
  >
    {{#each @cards as |card|}}
      <PlayingCard
        id={{card.id}}
        @suit={{card.suit}}
        @value={{card.value}}
        {{on 'click' (fn this.selectCard card)}}
      />
    {{/each}}
  </ul>

  <button type='button' {{on 'click' this.toggle}}>
    Fan
  </button>

  Meld: {{this.meld.score}}
</div>