{{!-- data-transfer-started value is string true/false --}}
<FocusCard @title={{t 'ui.login.title'}} data-transfer-started='{{this.hasTransferStarted}}'>

  {{#if this.uploadSettings.isRunning}}
    <EllipsisLoader /><br>
    {{t 'ui.login.loading' num=this.contacts.length}}
  {{/if}}

  <div class='login-form-contents'>
    <div class='left'>
      <Field @label={{t 'input.label.name'}}>
        {{!-- template-lint-disable require-input-label --}}
        <Input data-test-name @value={{this.name}} />
      </Field>

      <Field @label={{t 'input.label.mnemonic'}}>
        {{!-- template-lint-disable require-input-label --}}
        <Input data-test-mnemonic @value={{this.mnemonic}} />
      </Field>

      <div class='cta-with-fallback'>
        <FileChooser @onChoose={{this.onChooseFile}} as |chooser|>
          <button
            data-test-upload-settings
            type='button'
            class='button-secondary'
            {{on 'click' chooser.openFileChooser}}
          >
            {{t 'buttons.uploadSettings'}}
          </button>
        </FileChooser>

        <button
          data-test-submit-login
          type='submit'
          {{on 'click' this.onSubmit}}
        >
          {{t 'buttons.login'}}
        </button>

      </div>

      <hr>

      <footer>{{t 'ui.login.warning'}}</footer>
    </div>

    <Pod::Login::LoginForm::TransferPrompt
      @updateTransferStatus={{this.updateTransferStatus}}
    />

  </div>



</FocusCard>
