<div
  data-test-dropdown
  class='
    dropdown
    {{if (eq @dir 'up') 'dropdown-top'}}
    {{if (eq @dir 'left') 'dropdown-left'}}
    {{if this.isOpen 'active'}}
  '
  ...attributes
>

  {{yield this.toggleMenu to='trigger'}}

  {{#if this.isOpen}}
    <div
      class='no-select full-overlay invisible'
      role='button'
      {{on 'click' this.toggleMenu}}
      {{on-key 'Escape' (prevent-default this.toggleMenu)}}
    />

  {{/if}}

  <div class='dropdown-menu'>
    {{yield this.closeMenu to='content'}}
  </div>
</div>

