<div class='game-layout'>
  <PlayerOrder @id={{@game.gameId}} class='area:info' />

  {{#if @game.display.left}}
    <BackOfCards class='area:left' @info={{@game.display.left}} />
  {{/if}}

  {{#if @game.display.top}}
    <BackOfCards class='area-top' @info={{@game.display.top}} />
  {{/if}}

  {{#if @game.display.right}}
    <BackOfCards class='area:right' @info={{@game.display.right}} />
  {{/if}}

  {{#if @game.trick}}
  <div class='area:trick'>
    Tricks here
  </div>
  {{/if}}

  <Hand
    @cards={{this.hand}}
    @onSelect={{this.chooseCard}}
    class='area:bottom'
  />
</div>
