<Dropdown
  @dir='left'
  ...attributes
  class='button-link'
  data-test-user-dropdown
>
  <:trigger as |toggle|>
    <button
      type='button'
      class='dropdown-trigger hide-xs-down button-link'
      {{on 'click' toggle}}
    >
      {{this.currentUser.name}}
    </button>
  </:trigger>

  <:content as |close|>
    <div class='user-dropdown-content'>
      <section>
        <strong>{{this.currentUser.name}}</strong>
        <em>{{this.currentUser.uid}}</em>

        <br>
        <br>

        <div class='cta-with-fallback'>
          <LinkTo @route='faq'>
            {{t 'routes.faq'}}
          </LinkTo>

          <CopyTextButton
            class='button-link'
            @text={{this.currentUser.shareUrl}}
            @label={{t 'ui.invite.copyProfile'}}
          />

        </div>
      </section>

      <hr class='navbar-divider'>

      <div class='cta-with-fallback'>
        <a
          href={{url-for 'settings'}}
          {{on 'click' (queue close (transition-to 'settings'))}}
        >
          <FaIcon @icon='sliders-h' @prefix='fas' />
          <span>{{t 'routes.settings'}}</span>
        </a>
        <a
          data-test-logout
          href={{url-for 'logout'}}
          {{on 'click' (queue close (transition-to 'logout'))}}
        >
          <FaIcon @icon='sign-out-alt' @prefix='fas' />
          <span>{{t 'routes.logout'}}</span>
        </a>
      </div>
    </div>
  </:content>
</Dropdown>
