<div class='chat-entry-container' ...attributes>
  <div class='control'>
    <Pod::Chat::ChatEntry::EmbedsMenu @sendTo={{@to}} />
  </div>

  {{!-- template-lint-disable require-input-label --}}
  <form
    data-test-chat-entry-form
    class='chat-entry'
    {{on 'submit' (prevent-default this.sendMessage)}}
  >

    <Field @label={{this.placeholder}} @hidden={{true}} as |id|>
      {{!-- TODO: extract to a resizable textarea component --}}
      <textarea
        {{autofocus this.isDisabled}}
        {{autoresize this.text}}
        {{autostash @to.id this.text}}

        {{on 'input' this.onInput}}
        {{on 'keypress' this.onKeyPress}}

        rows='1'
        data-test-chat-entry
        id={{id}}
        disabled={{this.isDisabled}}
        value={{this.text}}
        class='transition-all-fast'
        placeholder={{this.placeholder}}
      />
    </Field>

    <input
      data-test-chat-submit
      disabled={{this.isSubmitDisabled}}
      class='button flex-grow'
      role='button'
      type='submit'
      value='Send'
    >
  </form>
</div>
