<Modal
  data-test-embeds-snippet-modal
  @isActive={{@isActive}}
  @close={{@close}}
>
  <h5>
    {{t 'ui.chat.codeModal.title'}} <strong>{{@sendTo.name}}</strong>
  </h5>

  <hr>

  <div class='snippet-title-bar'>
    {{!-- template-lint-disable require-input-label --}}
    <Input
      placeholder='Title (optional)'
      @value={{this.title}}
    />

    <div>
      <select {{on 'change' this.chooseLanguage}}>
        {{#each this.languages as |availableLanguage|}}
          <option value={{availableLanguage}}>{{availableLanguage}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  {{!-- template-lint-disable require-input-label --}}
  <Textarea
    autofocus={{true}}
    class='snippet-entry'
    @value={{this.text}}
  />

  <div class='button-group right-aligned'>
    <button
      data-test-cancel
      type='button'
      class='button-secondary'
      {{on 'click' @close}}
    >
      {{t 'buttons.cancel'}}
    </button>
    <button
      data-test-submit
      type='button'
      {{on 'click' this.sendMessage}}
    >
      {{t 'buttons.sendSnippet'}}
    </button>
  </div>
</Modal>

