<div class='right text-center'>
  {{#if this.isLoading}}
    <KeyboardPress @key='Escape' @onDown={{this.cancel}} />

    {{#if this.fromUser}}
      <h3 class='text-center'>
        {{this.fromUser}}
      </h3>
      <br>
      <h4 class='text-bold text-center'>
        <code class='has-shadow'>
          {{this.verification}}
        </code>
      </h4>
      <br>
    {{/if}}

    <EllipsisLoader />
    <br>
    {{this.taskMessage}}

    {{#if this.fromUser}}
      <div class='text-center mar-t-md' {{focus-trap}}>
        <button
          type='button'
          class='button-secondary button-xs'
          {{on 'click' this.cancel}}
        >
          {{t 'buttons.cancel'}}
        </button>
      </div>
    {{/if}}
  {{else}}
    <QRCode @data={{this.qrData}} />

    <h3>{{t 'ui.login.transfer.title'}}</h3>
    <p>{{t 'ui.login.transfer.prompt'}}
    </p>
  {{/if}}
</div>
