<div
  data-test-confirmations
  class='confirmations'
  {{did-insert this.doWait}}
>

  {{#if this.wasSent}}
    {{#if this.hasDeliveryConfirmations}}

      <FaIcon @icon='check' @size='sm' aria-label='message delivered successfully' />

    {{else if this.timedOut}}

      <div class='has-hover-tip'>
        {{#if this.deleteMessage.isIdle}}
          <button
            data-test-delete
            type='button'
            class='button-link'
            {{on 'click' this.doDelete}}
          >
            {{t 'buttons.delete'}}
          </button>
        {{/if}}
        |
        {{#if this.resend.isIdle}}
          <button
            data-test-resend
            type='button'
            class='button-link'
            {{on 'click' this.doResend}}
          >
            {{t 'buttons.resend'}}
          </button>
        {{/if}}
        |
        {{#if this.resendAutomatically.isIdle}}
          {{#if @message.queueForResend}}
            {{t 'models.message.autosendPending'}}
          {{else}}
            <button
              data-test-autosend
              type='button'
              class='button-link'
              {{on 'click' this.doQueue}}
            >
              {{t 'buttons.resendAutomatically'}}
            </button>
          {{/if}}
        {{/if}}

        <FaIcon @icon='exclamation-circle' />

        <HoverTip @class='w-left-200'>
          {{t 'status.deliveryFailed'}}
        </HoverTip>
      </div>

    {{else}}

      <EllipsisLoader />

    {{/if}}
  {{/if}}

</div>
