{{#if this.isVisible}}
  <div
    data-test-notification-prompt
    class='
      chat-history-notification-prompt
      alert alert-info
      is-radiusless
      text-center
      transition-all
      has-shadow
    '
  >
    <button
      data-test-dismiss
      type='button'
      class='delete'
      {{on 'click' this.askNextTime}}
    >
      <FaIcon @icon='times' />
    </button>

    <section>

      <strong>{{t 'ui.notifications.prompt.title'}}</strong>

      <div data-test-enable>
        <button type='button' {{on 'click' this.enableNotifications}}>
          {{t 'ui.notifications.prompt.enable'}}
        </button>

        <button data-test-ask-later type='button' {{on 'click' this.askNextTime}}>
          {{t 'ui.notifications.prompt.askLater'}}
        </button>

        <button data-test-ask-never type='button' {{on 'click' this.neverAskAgain}}>
          {{t 'ui.notifications.prompt.neverAsk'}}
        </button>
      </div>

    </section>

  </div>
{{/if}}
