{{#if this.isVisible}}
  <div
    data-test-notification-prompt
    class='
      chat-history-notification-prompt
      alert alert-info
      is-radiusless
      text-center
      transition-all
      has-shadow
      grid:column grid:columns:left fixed
      align:center
    '
  >
    <Pod::Chat::ChatHistory::NotificationPrompt::Option
      data-test-dismiss
      class='flex p:1 delete'
      {{on 'click' this.askNextTime}}
    >
      <FaIcon @icon='times' />
    </Pod::Chat::ChatHistory::NotificationPrompt::Option>

    <section>

      <strong>{{t 'ui.notifications.prompt.title'}}</strong>

      <div data-test-enable class='flex flex:wrap justify:around'>
        <Pod::Chat::ChatHistory::NotificationPrompt::Option
          {{on 'click' this.enableNotifications}}
        >
          {{t 'ui.notifications.prompt.enable'}}
        </Pod::Chat::ChatHistory::NotificationPrompt::Option>

        <Pod::Chat::ChatHistory::NotificationPrompt::Option
          data-test-ask-later
          {{on 'click' this.askNextTime}}
        >
          {{t 'ui.notifications.prompt.askLater'}}
        </Pod::Chat::ChatHistory::NotificationPrompt::Option>

        <Pod::Chat::ChatHistory::NotificationPrompt::Option
          data-test-ask-never
          {{on 'click' this.neverAskAgain}}
        >
          {{t 'ui.notifications.prompt.neverAsk'}}
        </Pod::Chat::ChatHistory::NotificationPrompt::Option>
      </div>

    </section>

  </div>
{{/if}}
