<nav class='contacts' style='overflow-y: hidden;' data-test-contacts-list>
  {{#if this.contactManager.isImporting}}
    <EllipsisLoader />
  {{else}}

    <input
      class='input mar-b-sm'
      type='text'
      data-test-sidebar-search
      placeholder={{t 'ui.sidebar.find'}}
      {{on 'input' this.handleSearch}}
    >

    <App::Sidebar::Chats::Data @searchText={{this.searchText}} as |data|>

      {{#if this._searchText}}
        <span data-test-search-info class='results-info'>
          {{#if this.hasEnoughToSearch}}
            {{t 'ui.sidebar.results' num=(sub data.chats.length 2)}}
          {{else}}
            {{t 'ui.sidebar.keepTyping' num=this.remainingCharacters}}
          {{/if}}
        </span>
      {{/if}}

      {{#if (eq @type 'chats')}}
        <App::Sidebar::Chats::List @chats={{data.chats}} />
      {{else if (eq @type 'channels')}}
        <App::Sidebar::Chats::List @chats={{data.channels}} />
      {{/if}}

      {{#if data.showOfflineCounter}}
        <App::Sidebar::Chats::OfflineCounter @numberOffline={{data.numberOffline}} />
      {{/if}}

    </App::Sidebar::Chats::Data>

  {{/if}}

</nav>


