{{#each @chats as |chat|}}
{{!--
{{#vertical-collection
  @chats
  estimateHeight=40 staticHeight=true bufferSize=5
  as |chat|
}}
--}}
  {{#if (eq chat 'add-contact')}}
    <div 
      data-test-sidebar-content-header
      data-test-sidebar-contacts-header
      class='menu-label'
    >
      {{t 'ui.sidebar.contacts.title'}}

      <a
        data-test-add-friend
        class='button button-xs'
        href={{url-for 'add-friend'}}
        {{on 'click' (handle-sidebar-click (transition-to 'add-friend'))}}
      >
        <span class='icon'><FaIcon @icon='plus' /></span>
      </a>
    </div>
  {{else if (eq chat 'add-channel')}}
    <div
      data-test-sidebar-content-header
      class='menu-label'
    >
      {{t 'ui.sidebar.channels.title'}}

      <a
        data-test-add-channel
        class='button button-xs'
        {{!-- TODO: link to creating channels --}} href={{url-for 'add-friend'}}
        {{!-- TODO: link to creating channels --}} {{on 'click' (handle-sidebar-click (transition-to 'add-friend'))}}
      >
        <span class='icon'>{{fa-icon 'plus'}}</span>
      </a>
    </div>
  {{else if (or (is-contact chat) (is-current-user chat))}}
    <App::Sidebar::Chats::Contact @contact={{chat}} />
  {{else if (is-channel chat)}}
    <App::Sidebar::Chats::Channel @channel={{chat}} />
  {{/if}}
{{!-- {{/vertical-collection}} --}}
{{/each}}