{{!-- User List Component
Channel List Component --}}

<div class='container flex-grow flex-column align-items-stretch'>
    <div class='flex-grow'>
      {{chat-history messages=''}}

      {{!-- {{message-display}}
      {{message-display}}
      {{message-display}} --}}

    </div>

    <div class=''>
      {{message-entry}}
    </div>
</div>
