<main class='grid center fullscreen' data-test-join-game>
  <section>
    {{#if (contains this.state 'begin')}}
        <h2 data-test-connecting>Connecting...</h2>

    {{else if (contains this.state 'needs-name')}}
      <NameEntry @onSubmit={{this.handleSubmit}} />
    {{else if this.isPending}}

      {{#if this.isJoining}}
        <h2 data-test-joining>Joining game...</h2>
      {{else if this.isWaiting}}
        <h2 data-test-waiting>Waiting for game to start</h2>
      {{/if}}

      <PlayerList
        @players={{this.gameHost.players}}
        @currentName={{this.context.name}} />

      <Loader::Indeterminate />

    {{else if (contains this.state 'game-does-not-exist')}}
      <span data-test-404>Game does not exist. Is the URL correct?</span>
    {{else if (contains this.state 'starting')}}
      <span data-test-starting>Starting game...</span>
    {{else}}
      <span data-test-unknown>Unknown State</span>
    {{/if}}
  </section>
</main>