{{#if (includes this.state 'error')}}

  {{!-- template-lint-disable --}}
  {{log 'error occurred'}}
  {{log this.current}}
  {{!-- template-lint-enable --}}

  <ErrorCard
    data-test-error
    @message={{this.ctx.error}}
    @retry={{fn this.transition 'RETRY'}}
  />

{{else if (includes this.state 'scanner')}}

  <QRScanner @onScan={{this.handleScan}} />

{{else if (includes this.state 'loginToDevice.setupConnection' )}}

  <p>
    <EllipsisLoader /><br>
    {{t 'ui.login.transfer.establishConnection'}}
  </p>

{{else if (includes this.state 'loginToDevice.askPermission')}}

  <Pod::QR::Login::Ask
    @code={{this.ctx.data.verify}}
    @allow={{fn this.transition 'ALLOW'}}
    @deny={{fn this.transition 'DENY'}}
  />

{{else if (includes this.state 'loginToDevice.transferAllowed')}}

  <p>
    <EllipsisLoader /><br>
    {{t 'ui.login.transfer.inProgress'}}
  </p>

{{else if (includes this.state 'loginToDevice.transferComplete')}}

  {{t 'ui.login.transfer.success'}}

{{else}}

  {{!-- template-lint-disable --}}
  {{log 'error occurred'}}
  {{log this.current}}
  {{!-- template-lint-enable --}}

  <ErrorCard
    data-test-unknown-state
    @message={{t 'errors.genericRetry'}}
    @retry={{fn this.transition 'RETRY'}}
  />

{{/if}}



