<div
  class='
    grid grid:gap-1/2
    align-self:end h:max:100
    flex:grow
    overflow:y'
  {{unread-message-list-observer}}
  {{message-scroll-listener @messages}}
>

  <Pod::Chat::ChatHistory::NotificationPrompt />
  <Pod::Chat::ChatHistory::ConnectionStatus />
  <Pod::Chat::ChatHistory::UnreadManagement @messages={{@messages}} @to={{@to}} />

  {{#vertical-collection @messages
    staticHeight=false
    renderFromLast=true
    estimateHeight=250
    bufferSize=5
    as |message|
  }}
    <Pod::Chat::ChatHistory::Message @message={{message}} />
  {{/vertical-collection}}

  <Pod::Chat::ChatHistory::NewMessages />
</div>
