<div
  class='message-list'
  {{unread-message-list-observer}}
  {{message-scroll-listener @messages}}
>

  <Pod::Chat::ChatHistory::NotificationPrompt />
  <Pod::Chat::ChatHistory::ConnectionStatus />
  <Pod::Chat::ChatHistory::UnreadManagement @messages={{@messages}} @to={{@to}} />

  {{#vertical-collection @messages
    tagName='div'
    class='messages'
    renderFromLast=true
    estimateHeight=250
    as |message|
  }}
    <Pod::Chat::ChatHistory::Message
      @message={{message}}
      {{maybe-nudge-to-bottom @messages message}}
    />
  {{/vertical-collection}}

  <Pod::Chat::ChatHistory::NewMessages />
</div>
