<Pod::Chat::ChatHistory::NotificationPrompt />
<Pod::Chat::ChatHistory::ConnectionStatus />
<Pod::Chat::ChatHistory::UnreadManagement @messages={{@messages}} @to={{@to}} />

<div
  data-test-message-container
  class='
    grid grid:gap-1/2
    align-self:end h:max:100
    flex:grow
    overflow:y
    rotate:x:180 rtl'
  {{unread-message-list-observer}}
  {{message-scroll-listener @messages}}
>

  {{#vertical-collection @messages
    key='id'
    staticHeight=false
    estimateHeight=250
    bufferSize=0
    as |message|
  }}
    <Pod::Chat::ChatHistory::Message
      class='rotate:x:180 ltr'
      @message={{message}}
    />
  {{/vertical-collection}}

  <Pod::Chat::ChatHistory::NewMessages />
</div>
