<Modal
  data-test-search-modal
  @isActive={{@isActive}}
  @close={{@close}}
  role='search'>

  <Field @label={{t 'ui.search.title'}} @hidden={{true}}>
    {{!-- template-lint-disable require-input-label --}}
    <input
      type='text'
      class='input-lg'
      value={{this.searchText}}
      placeholder={{t 'ui.search.title'}}
      {{autofocus}}
      {{on 'input' this.onInput}}
    >
  </Field>

  <div class='results' {{did-insert this.submitSearch}}>
    {{#unless this.hasResults}}
      {{t 'ui.search.nothingFound'}}
    {{/unless}}

    {{#if this.hasResults}}
      <span class='section-title'>{{t 'ui.search.contacts'}}</span>

      <div tablist data-test-contacts-results>
        {{#each this.contactResults as |identity|}}
          <Search::Result
            @to='chat.privately-with'
            @id={{identity.uid}}
            @afterSelect={{@close}}
          >
            <span>
              @ <strong>{{identity.name}}</strong>
            </span>
            <span>
              {{first-8 identity.uid}}
            </span>
          </Search::Result>
        {{else}}
          <span class='no-results'>{{t 'ui.search.noContacts'}}</span>
        {{/each}}
      </div>

      <br>
      <span class='section-title'>{{t 'ui.search.channels'}}</span>

      <div tablist data-test-channels-results>
        {{#each this.channelResults as |channel|}}
          <Search::Result
            @to='chat.in-channel'
            @id={{channel.id}}
            @afterSelect={{@close}}
          >
            <span>
              # <strong>{{channel.name}}</strong>
            </span>
            <span>
              {{first-8 channel.id}}
            </span>
          </Search::Result>
        {{else}}
          <span class='no-results'>{{t 'ui.search.noChannels'}}</span>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <footer>
    <div class='left'>
      <KeyboardShortcuts::Key @label='tab' />
      {{t 'ui.shortcuts.label.search.tab'}}
    </div>

    <div class='right'>
      <KeyboardShortcuts::Key @label='enter' />
      {{t 'ui.shortcuts.label.search.enter'}}

      <hr class='vertical'>

      <KeyboardShortcuts::Key @label='esc' />
      {{t 'ui.shortcuts.label.search.esc'}}
    </div>
  </footer>
</Modal>
